<footer class="site-footer">
  <div class="wrapper">
    <p style="margin-top: 2em;">
      Read a random <a href="/random" title="random blog article">post</a> or wander to
      <a href="https://uberblogr.de/rand/fischr" title="random blog">another blog</a>.<br />
      That’s all there is, there isn’t any more.
    </p>
  </div>

  <!-- Analytics -->
  <script src="https://tinylytics.app/embed/SrAghi9feUjKK-Fp59Tr.js?kudos=🔥" defer></script>
  <script defer data-domain="fischr.org" src="https://pb.fischr.org/js/script.js"></script>
  <script>window.plausible = window.plausible || function(){(window.plausible.q=window.plausible.q||[]).push(arguments)}</script>
</footer>